**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
s=input("enter ur string")
L=len(s)
print("the lenth of the string is ",L)

enter ur stringhhhh
4

In [ ]:
s=input("enter ur string")
l=0
for i in s:
  l+=1
print("the lenth of the string is ",l)

enter ur stringllll
the lenth of the string is  4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
w=input("enter the sting")
if len(w)<2:
  print("this is empty string")
else:
  be=w[:2:1]
  en=w[-2::1]
  print(be,en,sep="")

enter the stingjjbbhv
jjhv

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
s=input("enter the string ")
if len(s)<3:
  print(s,"ur string hasn't any changes")
elif s.endswith("ing"):# endswith method that check if string end same the value u selected
#Syntax od endswith (value,start,end) in our case care about value so start and end aren't important,so method will be endswith(vl)
  print(s+"ly")
else:
  print(s+"ing")

enter the stringbing
bingly

In [ ]:
#another way
s=input("enter the string ")
if len(s)>=3:
  print(s,end="ing")
  if s[-3::]=="ing":
    print(s,end="ly")
else:
  print(s)

enter the stringbbbbbb'
bbbbbb'ing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
L1=["hhhhhh","kkkkkkkkkkk","kkkk","l","gggggg","jjjjjjjjjjjjjjjj"]

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
s=input("enter ur sting ")
w=input("enter thw char that u want to add to the string ")
print(w+s[1:-1],sep="",end=""+w)

enter ur sting abca
enter thw char that u want to add to the string e
ebce

In [ ]:
s=input("enter ur sting ")
w=input("enter thw char that u want to add to the string ")
ch=s.replace(s[0],w) #with replace it will replace all chars like first char
print(ch)

enter ur sting abcddd
enter thw char that u want to add to the string e
ebcddd

In [ ]:
#i tried to use endswith but is failed
#s=input("enter ur sting ")
#w=input("enter thw char that u want to add to the string ")
#ch=s.endswith(w,s[0],s[-1])
#print(ch)

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
s=input("enter ur sting ")
print(s[::2])

enter ur sting ssjjkskksks
sjkkss

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
st="amr and ahmed are frindes but amr is the tallest"
c=st.count("amr")
j=st.count("ahmed")
print(c,j)

2 1

In [ ]:
#way that user input the string

def wordsCo(x):
 # x=input(" enter ur string ")
  count=dict()
  words=x.split()

  for i in words:
    if i in count:
      count[i]+=1
      c=count[i]
    else:
     count[i]=1
     c=count[i]
  print(count)
  return c
  return count

print(wordsCo(x=input("ur string")))
#print(wordsCo("amr and ahmed are frindes but amr is the tallest"))

ur stringamr and ahmed are frindes but amr
{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1}
2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
s=input("enter ur string ")
up=s.upper()
lo=s.lower()
print("ur string in upper",up)
print("ur string in lower",lo)

enter ur string efvhdvhabjbbAAA
ur string in upper EFVHDVHABJBBAAA
ur string in lower efvhdvhabjbbaaa

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
s=input("enter ur string ")
ch=len(s)
if ch%4==0:
  re=s[::-1]
  print(re)
else:
  print(s)

enter ur string fffg
gfff

**10- Write a Python program to remove a newline in Python

In [ ]:
#s=input("enter ur string ")
ss="heey\nhow  r u"
print(ss)
print(s.replace("\n",""))

heey
how  r u
ssssss

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
#first way convert string to list then check if two lists r equal or not
s=input("enter the string ")
w=input("enter ur specified characters ")
o=list(s)
ww=list(w)
j=o[:3]
if j==ww:
  print("ur string start with specified characters")
else:
  print("ur string doesn't start with specified characters")

enter the string aaabbbha
enter ur specified characters aaa
ur string start with specified characters

In [ ]:
#another way
s=input("enter the string ")
w=input("enter ur specified characters ")
x=len(w)
j=s[:x]
if j==w:
  print("ur string start with specified characters")
else:
  print("ur string doesn't start with specified characters")

enter the string avvvvvvaaaa
enter ur specified characters avvvv
avvvv
ur string start with specified characters

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
#way string as input
k=input("enter the string ")
a=input("enter the string ")
p=input("enter the string ")
j="\n"+k+"\n"+a+"\n"+p
print(j)
w=input("enter ur perfix text ")
for i in j:
  if i=="\n":
    ss=j.replace(i,"\n"+w)
    print(ss)
    break

In [ ]:
#way if string is given
s="\nWrite a Python program\n to add prefix text to\n all of the lines in a string"
w=input("enter ur perfix text ")
for i in s:
  if i=="\n":
    ss=s.replace(i,"\n"+w)
    print(ss)
    break

enter ur perfix text aaa

aaaWrite a Python program
aaa to add prefix text to
aaa all of the lines in a string

**13-Write a Python program to print the following numbers up to 2 decimal places

In [51]:
s=[1,2,3,.3]

for i in s:
  print(f"{i:.2f}")

1.00
2.00
3.00
0.30

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [50]:
s=[1,-2,3,.3]

for i in s:
  print(f"{i:.2f}")

1.00
-2.00
3.00
0.30

**15-Write a Python program to display a number with a comma separator

In [ ]:
s=int(input("enter  ur number "))
f=float(s)
print(f)

enter  ur number 1111
1111.0

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
s=input("enter ur string ")
j=s[::-1]
print(j)

enter ur string lolk
klol

In [ ]:
s=input("enter ur sttring ")
j=len(s)
i=j-1
while i>=0:
  print(s[i],end="")
  i-=1

enter ur sttring lolk
klol

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
def wordsCo(x):
  chars={}
  for i in x:
    if i in chars:
      chars[i]+=1
      c=chars[i]
    else:
     chars[i]=1
     c=chars[i]
  print(chars)
  return c
  return chars

print(wordsCo(x=input("ur string ")))

ur string jjjjj
{'j': 5}
5

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
def wordsCo(x):
  chars={}
  for i in x:
    if i in chars:
      chars[i]+=1

    else:
     chars[i]=1
     c=chars[i]
  print(chars)
  return c
  return chars

print(wordsCo(x=input("ur string ")))

ur string all
{'a': 1, 'l': 2}
1

**19-Write a Python program to remove spaces from a given string

In [ ]:
s=input("enter ur string ")
j=s.replace(" ","")
print(j)

enter ur string ssss   s sss
ssssssss

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
s=input("enter ur string ")
if len(s)>=0:
  print(len(s))
  print(len(s)*(len(s)+1)/2)

else:
  print("THE STRING IS EMPTY")

enter ur string HHH
3
6.0

**21-write a Python program to swap first and last element of any list.

In [ ]:
l=[1,55,77,55,77,88]
l[0],l[-2]=l[-2],l[0]
print(l)

[77, 55, 77, 55, 1, 88]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
l=[23, 65, 19, 90]
l[0],l[-2]=l[-2],l[0]
print(l)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
l=[23, 65, 19, 90]
print(len(l))

**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
l=[23, 65, 19, 90]
print(max(l))

90

In [ ]:
numEleFiL=int(input("Range of list? ")) #user enter range of the first list
L1=[] #empty list
for i in range(numEleFiL): #make list with same nummber user added
    ele1=int(input("enter element :")) #first i=0, print number of element
    L1.append(ele1)
    print(max(L1))

Range of list? 3
enter element :11
11
enter element :2
11
enter element :112
112

**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
l=[23, 65, 19, 90]
print(min(l))

19

In [ ]:
numEleFiL=int(input("Range of list? ")) #user enter range of the first list
L1=[] #empty list
for i in range(numEleFiL): #make list with same nummber user added
    ele1=int(input("enter element :")) #first i=0, print number of element
    L1.append(ele1)
    print(min(L1))

Range of list? 3
enter element :11
11
enter element :22
11
enter element :1
1

**26-search for if an elem is existing in list

In [ ]:
numEleFiL=int(input("Range of list? ")) #user enter range of the first list
L1=[] #empty list
for i in range(numEleFiL): #make list with same nummber user added
    ele1=int(input("enter element :")) #first i=0, print number of element
    L1.append(ele1)
print(L1)
j=int(input("enter ur elem that u wanna search about"))
if j in L1:
  print(j,"the elem is here")
  print(L1.index(j))
else:
  print(i,"the elem not here")

Range of list? 3
enter element :11
enter element :122
enter element :11
[11, 122, 11]
enter ur elem that u wanna search about122
2 the elem is here
1

**27- clear python list using different ways

In [ ]:
numEleFiL=int(input("Range of list? ")) #user enter range of the first list
L1=[] #empty list
for i in range(numEleFiL): #make list with same nummber user added
    ele1=int(input("enter element :")) #first i=0, print number of element
    L1.append(ele1)
print(L1)
L1.clear()
print(L1)

Range of list? 3
enter element :11
enter element :12
enter element :13
[11, 12, 13]
[]

In [ ]:
numEleFiL=int(input("Range of list? ")) #user enter range of the first list
L1=[] #empty list
for i in range(numEleFiL): #make list with same nummber user added
    ele1=int(input("enter element :")) #first i=0, print number of element
    L1.append(ele1)
print(L1)
del L1[:]
print(L1)

Range of list? 3
enter element :11
enter element :12
enter element :13
[11, 12, 13]
[]

**28-remove duplicated elements from a list

In [ ]:
numEleFiL=int(input("Range of list? ")) #user enter range of the first list
L1=[] #empty list
for i in range(numEleFiL): #make list with same nummber user added
    ele1=int(input("enter element :")) #first i=0, print number of element
    L1.append(ele1)
print(L1)
s=set(L1)
print(s)

Range of list? 4
enter element :11
enter element :12
enter element :11
enter element :13
[11, 12, 11, 13]
{11, 12, 13}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
l=["Gfg", 3, "is", 8]
l2=[]
l2.insert(0,l[2])
l2.insert(1,l[3])
k=["name","id"]
j=dict(zip(k,l))
f=dict(zip(k,l2))
print(j)
print(f)

{'name': 'Gfg', 'id': 3}
{'name': 'is', 'id': 8}

**30-write a python program to count unique values inside a list using different ways

In [55]:
l=[1, 2, 3, 5, 9, 6, 101]
ma=l[0]
for i in l:
    if i > ma:
        ma=i
print(ma)

101

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [61]:
test_list = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
print("The original list : ",str(test_list))
K=2
res=[]
for i in test_list:
    freq = test_list.count(i)
    if freq > K and i not in res:
        res.append(i)
print("The required elements : ",str(res))

The original list :  [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
The required elements :  [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [59]:
l=[1,2,2,3,4,5]
i=0
while i<len(l)-1:
  print(max(l[i],l[i+1]),end="")
  i+=1

22345

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
l=[1,2,3]
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(i!=j and j!=k and k!=i):
        print(l[i],l[j],l[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [67]:
l=[1,2,3]
result=[]
for i in range(len(l)):
    result.append([l[i]])
    for j in range(i + 1,len(l)):
      result.append([l[i],l[j]])
      for k in range(j + 1,len(l)):
        result.append([l[i],l[j],l[k]])
print(result)

[[1], [1, 2], [1, 2, 3], [1, 3], [2], [2, 3], [3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [67]:
L1=["a","b"]
L2=[1,2]
l3=[]
for i in L1:
  for j in L2:
    l3.append((i,j))
print(l3)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
l=[1, 1, 2 ,3, 4, 5 ,1, 2 ,1]
l.remove(1)
print(l)

[1, 2, 3, 4, 5, 1, 2, 1]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [81]:
or1=['Gfg', 'is','best']
or2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

or2[-1]=or2[4]=or2[5]=or2[6]=or2[0]=or1[0]
or2[3]=or2[8]=or2[9]=or2[1]=or1[1]
or2[7]=or2[-2]=or2[2]=or1[2]
print(or1)
print(or2)

['Gfg', 'is', 'best']
['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [68]:
numEleFiL=int(input("Range of first list? ")) #user enter range of the first list
L1=[] #empty list
for i in range(numEleFiL): #make list with same nummber user added
    ele1=int(input("enter element :")) #first i=0, print number of element
    L1.append(ele1)

numEle2L=int(input("Range of second list?"))#user enter range of the second list
L2=[] #empty list
for i in range(numEle2L):#make list with same nummber user added
    ele2=int(input("enter element :"))#first i=0, print number of element
    L2.append(ele2)

L3=[]#empty list
for i in L1: #check
  for j in L2:#check
      if i==j:#condi
        L3.append(i)

print("The first list is:", L1)
print("The second list is:", L2)
print( L3)

Range of first list? 4
enter element :4
enter element :5
enter element :5
enter element :4
Range of second list?3
enter element :5
enter element :4
enter element :3
The first list is: [4, 5, 5, 4]
The second list is: [5, 4, 3]
The common numbers are: [4, 5, 5, 4]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [69]:
l=[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
result=[]
for i in range(len(l)):
    result.append([l[i]])
    for j in range(i + 1,len(l)):
      result.append([l[i],l[j]])
      for k in range(j + 1,len(l)):
        result.append([l[i],l[j],l[k]])
print(result)

[[[1, 3, 3]], [[1, 3, 3], [2, 1, 2]], [[1, 3, 3], [2, 1, 2], [3, 2, 1]], [[1, 3, 3], [3, 2, 1]], [[2, 1, 2]], [[2, 1, 2], [3, 2, 1]], [[3, 2, 1]]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [47]:
d1={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
so=sorted(d1.items())
print(so)

[('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32), ('yash', 2)]

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [46]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
test_dict.pop('is')
print(test_dict)

{'Gfg': 3, 'best': 10, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [42]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [39]:
di={'a':100,'b':540,'c':247,'d':600}
for i in di:
  print(i)
  print(di[i])

a
100
b
540
c
247
d
600

**44- Write a Python script to merge two Python dictionaries

In [37]:
di1={'a':100,'b':540,'c':247,'d':600}
di2={'j':1000,'k':5440,'l':2447,'n':60}
di1.update(di2)
print(di1)

{'a': 100, 'b': 540, 'c': 247, 'd': 600, 'j': 1000, 'k': 5440, 'l': 2447, 'n': 60}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [33]:
di={'a':100,'b':540,'c':247,'d':600}
print(max(di.values()))
print(min(di.values()))

540
100

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [32]:
Original_Dictionary= {'c1': 'Red', 'c2': 'Green', 'c3': None}
New_Dictionary=Original_Dictionary.pop('c3')
print(Original_Dictionary)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [2]:
tu=(1,2,3,4,5)
print(tu[0])

1

**48-Write a Python program to unpack a tuple into several variables

In [3]:
tu=(1,2,3,4,5)
a,b,c,d,e=tu
print(a,b,c,d,e)

1 2 3 4 5

**49-Write a Python program to add an item to a tuple

In [15]:
tu=(1,2,3,4,5)
#we can't add or remove from tuple so covert it to list or set
l=list(tu)
l.append(6)
tu=tuple(l)
print(tu)
s=set(tu)
s.add(7)
tu=tuple(s)
print(tu)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 7)

**50-Write a Python program to convert a tuple to a string

In [8]:
tu=(1,2,3,4,5)
st=str(tu)
print(st)
type(st)

(1, 2, 3, 4, 5)

str

**51-Write a Python program to convert a list to a tuple

In [9]:
l=[1,2,3,4,5]
tu=tuple(l)
print(tu)
type(tu)

(1, 2, 3, 4, 5)

tuple

**52-Write a Python program to reverse a tuple

In [10]:
tu=(1,2,3,4,5)
print(tu[::-1])

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [82]:
l1=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
l2=[]
for i in l1:
  l2.append(i[:-1]+(100,))
print(l2)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [11]:
st="python 3.0"
tu=tuple(st)
print(tu)

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [13]:
tu=(1,2,3,4,5)
su=sum(tu)
le=len(tu)
print(" the average value of the numbers in a given tuple ",su/le)

3.0

**56-Write a Python program to add member(s) to a set.

In [16]:
s={1,2,3,4,5}
s.add(6)
s.add(7)
print(s)

{1, 2, 3, 4, 5, 6, 7}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [22]:
s={1,2,3,4,5}
s.remove(1)
s.pop()

print(s)

{3, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [26]:
U={1,2,3,4,5,6,7,8}
A={1,2}
B={2,3}
print(A.intersection(B))
print(A.union(B))
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

{2}
{1, 2, 3}
{1}
{3}
{1, 3}
{1, 3}

**59-Write a Python program to find the maximum and minimum values in a set

In [27]:
U={1,2,3,4,5,6,7,8}
print(max(U))
print(min(U))

8
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [31]:
L=[1,2,3,4,5,6,7]
gi=5
i=0
while i<len(L):
  for j in range(i+1,len(L)):
    if L[i]+L[j]==gi:
      print(L[i],L[j])
  i+=1

1 4
2 3